.detalhesPage .descricao {
  white-space: "pre-wrap";
  overflow-wrap: break-word;
  overflow-y: scroll;
  height: 245px;  
  max-width: 100%;
}

.detalhesPage .titulo {
  white-space: "pre-wrap";
  overflow-wrap: break-word;  
}

.detalhesPage .car__info .enviar-msg {
  text-decoration: none;
  color: white;  
}

.detalhesPage .car__info .interacoes {
  display: flex; 
  flex-direction: column;
}

.detalhesPage .car__info .interacoes .btn-voltar {
  margin-top: 16%;
}

.detalhesPage .car__info .avaliacao-text{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

@media screen and (max-width: 992px) {
  .detalhesPage .car__info .interacoes {
    display: flex; 
    flex-direction: row;
  }

  .detalhesPage .car__info .interacoes .btn-voltar {
    margin-top: 0;
  }

  .detalhesPage .car__info .avaliacao-text{  
    padding-left: 8%;
    display: block;
    padding-top: 5%;
    padding-left: 0;
  }

  .detalhesPage .car__info h1 {
    padding-left: 7.1%;
  }
}

@media screen and (max-width: 768px) {  
  .detalhesPage .car__info .avaliacao-text{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .detalhesPage .car__info h1 {
    padding-left: 0%;
  }
}

@media screen and (max-width: 504px) {
  .detalhesPage .car__info .interacoes {
    display: flex; 
    flex-direction: column;    
  }

  .detalhesPage .car__info .interacoes .btn-voltar {
    margin-top: 0;
  }  
  
  .detalhesPage .car__info .avaliacao-text{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .detalhesPage .car__info h1 {
    padding-left: 0%;
  }
}